body {
    font-family: Arial;
    color: #777;
    background: #777;
    width: 976px;
    font-size: 18px;
}

.wide {
    padding: 30px;
    background: #ebebeb;
    text-align: center;
    margin-left: 40px;
    margin-bottom: 20px;
}

.middle {
    padding: 30px;
    background: #ebebeb;
    text-align: center;
    margin-bottom: 20px;
}

#section {
    width: 496px;
    height: 220px;
    margin-right:0;
    margin-left: 40px;
    margin-top: 10px;
    position: relative;
    float: left;
}

#aside {
    width: 300px;
    height: 220px;
    margin-left: 20px;
    float: left;
    margin-top: 10px;
}

#article {
    background: #777;
    text-align: center;
    color: #ebebeb;
    padding: 20px;
    width: 496px;
    height: 150px;
    left: 60px;
    bottom: 265px;
    position: absolute;
}

p {
    background: #ebebeb;
    color: #777;
    height: 20px;
    padding: 10px;
}

#footer {
    margin-top: 20px;
    clear: both;
    overflow: auto;
}
